<mat-card>
   <mat-card-content>
    <div class = "row" >
      <div class= "column">
      <mat-card-title>{{team1}}</mat-card-title>
      <br>
      <mat-icon svgIcon= {{team1}} style="transform: scale(4);"></mat-icon>
    </div>
    <div class= "column">
      <mat-card-title>{{team1score}}</mat-card-title>
      <br>
      <mat-card-title>{{status === "Final" && team1score > team2score ? "W" : ""}}</mat-card-title>
    </div>
    <div class= "column">
      <mat-card-title>VS</mat-card-title>
      <br>
      <mat-card-title>{{status}}</mat-card-title>
    </div>
    <div class= "column">
      <mat-card-title>{{team2score}}</mat-card-title>
      <br>
      <mat-card-title>{{status === "Final" && team1score < team2score ? "W" : ""}}</mat-card-title>
    </div>
    <div class= "column">
      <mat-card-title>{{team2}}</mat-card-title>
      <br>
      <mat-icon svgIcon= {{team2}} style="transform: scale(4);"></mat-icon>
    </div>
    </div>
  </mat-card-content>
</mat-card>