<mat-toolbar >
  <mat-toolbar-row>
  <span class="gap"><h1>Today's NBA Games</h1></span>
</mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" >
    <br>
    <div class="leftspace">
      <button mat-raised-button color="warn" (click)= "calculator()">Profit Calculator</button>
    </div>
    <br>
    <div>
      <div>
      <mat-form-field  appearance="fill" >
        <mat-label>Home Bias</mat-label>
        <input matInput type="number" [(ngModel)] = "homeBias">
      </mat-form-field>
    </div>
    <div>
    <mat-form-field appearance="fill" >
        <mat-label>Home Team</mat-label>
        <mat-select [(ngModel)] = "homeTeam" >
          <mat-option *ngFor="let team of options" [value]="team">
            {{team}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" >
        <mat-label>Away Team</mat-label>
        <mat-select [(ngModel)] = "awayTeam" >
          <mat-option *ngFor="let team of options" [value]="team">
            {{team}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
      <div class="leftspace">
    <button mat-raised-button color="warn" (click)= "prediction(homeTeam,awayTeam,homeBias)">Predict</button>
  </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">Create own prediction & Profit Caclulator</button></p>
    <div style="width: 90vw; margin: auto;">
      <div *ngIf = "todayGames.length > 0">
          <div *ngFor = "let g of todayGames">
              <app-matchup [team1] = g.home_team.abbreviation [team2] = g.visitor_team.abbreviation
              [team1score] = g.home_team_score
              [team2score] = g.visitor_team_score
              [status] = g.status
              (click)="prediction(g.home_team.abbreviation,g.visitor_team.abbreviation,homeBias)"></app-matchup>
          </div>
      </div> 
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
